<head>
    <link rel="stylesheet" type="text/css" href="style_posts.css">
</head>
{% extends 'base.html' %}
{% block content %}
<h1>{% block title %}Welcome to FlaskBlog {% endblock %}</h1>
{% if posts %}
    {% for post in posts %}
    <a href="{{ url_for('post', post_id=post['id']) }}">
    <h2>{{ post['title'] }}</h2>
    </a>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <hr>
    {% endfor %}
{% else %}
    <p>Here you will see posts which you created😉</p>
{% endif %}
{% endblock %}
